{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CuanCeria</title>
    <link href="{% static 'css/tailwind_output.css' %}" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-[#131313] to-[#17295e] via-[#131313] via-27% min-h-screen text-white">
    <header class="p-6 flex justify-between items-center px-[6vw]">
    </header>

    <main class="w-full">
        <div class="h-[30vw] mt-10 flex justify-center space-x-10 items-center">
            <div class="h-full pl-[5vw] pr-[17vw] rounded-3xl shadow-lg flex items-center bg-gray-400 backdrop-filter background-blur-md bg-opacity-10 border border-gray-100 border-opacity-10">
                <div class="flex-col">
                    <p class="text-[5vw] anek-latin-semibold">LSTM Prediction: {{ lstm_prediction }}</p>
                    <p class="text-[5vw] anek-latin-semibold">GRU Prediction: {{ gru_prediction }}</p>
                    <p class="text-[5vw] anek-latin-semibold">XGBoost Prediction: {{ xgb_prediction }}</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
