@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap');

html {
  scroll-behavior: smooth;
}

.anek-latin-thin{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-extralight{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-light{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-regular{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-medium{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-semibold{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-bold{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.anek-latin-extrabold{
    font-family: "Anek Latin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.font-outline-custom-2 {
    -webkit-text-stroke: 2px white;
}

.font-outline-custom-1 {
    -webkit-text-stroke: 1px white;
} 

.bg-custom-blue-black {
  background: rgb(19,19,19);
  background: linear-gradient(180deg, rgba(19,19,19,1) 0%, rgba(23,41,94,1) 40%);
}

@keyframes dash-red {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}

@keyframes dash-green {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}

.red-dashed-line {
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, red 50%, transparent 50%);
  background-size: 10px 2px;
  animation: dash-red 14s linear infinite;
}

.green-dashed-line {
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, #34b093 50%, transparent 50%);
  background-size: 10px 2px;
  animation: dash-green 15s linear infinite;
}

@keyframes dash-red2 {
  from {
      background-position: 100% 0;
  }
  to {
      background-position: 0 0;
  }
}

@keyframes dash-green2 {
  from {
      background-position: 100% 0;
  }
  to {
      background-position: 0 0;
  }
}

.red-dashed-line2 {
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, red 50%, transparent 50%);
  background-size: 10px 2px;
  animation: dash-red2 14s linear infinite;
}

.green-dashed-line2 {
  height: 4px;
  width: 100%;
  background-image: linear-gradient(to right, #00E676 50%, transparent 50%);
  background-size: 10px 2px;
  animation: dash-green2 15s linear infinite;
}

.tab {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: transparent; /* Default transparent color */
  color: white;
}

.tab.active-lstm {
  background-color: #6A0DAD; /* Ungu */
  color: white;
}

.tab.active-gru {
  background-color: #FFD700; /* Kuning */
  color: black;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card.lstm {
  border: 3px solid #6A0DAD; /* Ungu */
}

.card.gru {
  border: 3px solid #FFD700; /* Kuning */
}

.prediction {
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.prediction.up {
  color: #00E676;
}

.prediction.down {
  color: red;
}

.arrow {
  margin-left: 8px;
}

.up {
  color: #00E676;
}

.down {
  color: red;
}

/* styles.css */
.news-image-container {
  width: 22vw; /* Set the width of the image container */
  height: 10vw; /* Set the height of the image container */
  overflow: hidden; /* Hide any overflow */
  flex-shrink: 0; /* Prevent the container from shrinking */
}

.news-image {
  width: 100%; /* Make the image width 100% of the container */
  height: 100%; /* Make the image height 100% of the container */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-radius: 8px; /* Optional: add rounded corners to the image */
}

.news-content {
  padding-left: 1vw; /* Add padding to the left of the content */
  flex: 1; /* Allow the content to take up the remaining space */
}

/* styles.css */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

.blurred {
  filter: blur(10px);
  transition: filter 1s ease-in-out;
}

.visible {
  animation: fadeIn 1s ease-in-out forwards;
  filter: blur(0);
}

